@charset "UTF-8";

/*
  style.css は「入口ファイル」です。
  スタイルは用途別に分割し、ここで読み込みます。
*/

@import url("./style_core.css");
@import url("./style_cookie.css");
@import url("./style_dashboard.css");
@import url("./style_group.css");
@import url("./style_chat.css");
@import url("./style_profile.css");
/* 通知CSSは表示崩れ時のキャッシュ対策でバージョン付与 */
@import url("./style_notify.css?v=20260105");


